@charaset "UTF-8";
body{
	width:640px;
	margin-left:auto;
	margin-right:auto;
	background-color: #EEFAFF;
}

.head-1 {
	text-align: center;
	margin: 50px 0;
  }

strong{ color: red; }

.tweet {
	clear:both;
	overflow:hidden;
	padding: 20px;
	margin: 20px 0px;
	background-color: #DEEAFD;

	border-radius: 5px;         /* CSS3 */  
	-webkit-border-radius: 5px; /* Safari,Google Chrome */  
	-moz-border-radius: 5px;    /* Firefox */
	
	box-shadow: 5px 5px 5px #AAA;         /* CSS3 */ 
	-moz-box-shadow: 5px 5px 5px #AAA;    /* firefox */
	-webkit-box-shadow: 5px 5px 5px #AAA; /* Safari,Chrome */

}

.tweet img {
	float: left;
	max-width: 100px;
}

.description {
	float:left;
	width: 480px;
	margin-left: 20px;
}

pre{
	padding: 2em;
	background-color: #FFE7AC;

	box-shadow: 5px 5px 10px #AAA; 
	-moz-box-shadow: 5px 5px 10px #AAA;    /* firefox */
	-webkit-box-shadow: 5px 5px 10px #AAA; /* Safari,Chrome */

	border-radius: 2em;
	-moz-border-radius: 2em;    /* Firefox */
	-webkit-border-radius: 2em; /* Safari,Google Chrome */  
}
